/* ------------------------------------------------------ Basic styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #585858;
    font: 14px Arial, Helvetica, sans-serif;
}

.page {
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 7px;
}

.grid {
    width: 1000px;
    margin: 0 auto;
}

/* -------------------------------------------- Header */

.header::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    float: left;
    margin: 9px 0 0 9px;
}

.nav {
    width: 432px;
    float: right;
}
.nav a {
    width: 141px;
    height: 147px;
    float: left;
    text-align: center;
    border-top: solid 14px;
    margin: 0 1px 0 1px;
    font-size: 22px;
    padding-top: 53px;
    text-decoration: none;
    color: inherit;
}

.nav a:hover {
    background-image: linear-gradient(180deg, #ffffff, #d9d9d9);
    border-top-color: #d5d5d5 !important;
}

.nav span {
    width: 211px;
    height: 58px;
    background-image: url(../images/tip.png);
    position: absolute;
    margin-top: 52px;
    margin-left: -253px;
    font-size: 15px;
    padding-top: 30px;
    padding-right: 70px;
    /*Налаживает a:hover span сверху ribbon*/
    z-index: 2;
    /*Заставляет ищезнуть надписи тега span*/
    display: none;
}

.nav a:hover span {
    /*Заставляет появиться span, при наведении курсора на ссылку*/
    display: inline;
}

.nav a:nth-child(1) {
    border-top-color: #ff7800;
}

.nav a:nth-child(2) {
    border-top-color: #319aa3;
}

.nav a:nth-child(3) {
    border-top-color: #1e3436;
}

/*------------------------- Module: Ribbon */

.ribbon {
    background: linear-gradient(180deg, #333333, #494949);
    box-shadow: 0 10px 31px 0 #c6c6c6;
}

.module--ribbon {
    height: 130px;
    position: relative;
    color: #f2f2f2;
    padding: 18px;
    margin-bottom: 20px;
}

.page--offers .module--ribbon {
    margin-bottom: 40px;
}

.module--ribbon p {
    width: 560px;
    border-left: 8px solid #646464;
    padding: 5px 0 5px 18px;
    line-height: 145%;
}

.module--ribbon .label {
    position: absolute;
    right: 166px;
    top: 2px;
    background: url("../images/shadow.png") no-repeat 0 0;
    padding: 2px 0 0 1px;
}

/*-------------------------------------------- Content */

.content {
    padding-left: 18px;
}

/*------------------ Module: Product */

.product {
    width: 490px;
    margin-bottom: 25px;
    padding: 5px 0 5px 18px;
    border-left: 8px solid #efefef;
    line-height: 145%;
}

.product img {
    float: right;
}

/*------------------ Module: Information */

.module--information .column {
    width: 33%;
    min-height: 200px;
    border-left: 8px solid #efefef;
    float: left;
    background: url("../images/dot.jpg") no-repeat left 15px top 15px;
    padding: 27px 10px 10px 25px;
    font-size: 15px;
    line-height: 137%;
}

.module--information .column:last-child {
    border-right: 8px solid #efefef;
}

.module--information h3 {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 10px 10px;
}

/*Заставляет скинуть все float-ы*/
.module--information::after {
    content: '';
    display: block;
    clear: both;
}

/*------------------- Module: Contact-us */

.field {
    font: 16px Time New Roman, serif;
    margin-bottom: 10px;
}

input,
textarea {
    width: 302px ;
    border: 1px solid #d6d6d6;
    padding: 2px;
    font-family: Time New Roman, serif;
}

textarea {
    width: 355px;
    resize: none;
}

button {
    width: 100px;
    background-color: #dddddd;
    border: 1px solid #cccc99;
    margin-left: 114px;
}

label {
    width: 110px;
    padding-right: 7px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    color: #000;
}

/*---------------------------------------------- Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #343434;
    padding: 10px;
    text-align: center;
}

.footer,
.footer a {
    color: #f2f2f2;
}