body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 1920px;
    position: absolute;
    background-color: white;
}

.header {
    height: 148px;
    padding-top: 1px;
}

.orange,
.turquoise,
.green {
    width: 141px;
    height: 14px;
    float: left;
}

.orange {
    background-color: #ff7800;
    margin-left: 1018px;
}

.turquoise {
    background-color: #319aa3;
    margin: 0 3px;
}

.green {
    background-color: #1e3436;
}

.logo {
    width: 373px;
    height: 120px;
    float: left;
    background-image: url("../images/logo.png");
    margin-left:457px;
    margin-top: -138px;
}

.aboat,
.offers,
.contact {
    width: 141px;
    height: 130px;
    float: left;
    margin-top: 3px;
}

.aboat {
    margin-left: 1018px;
}

.offers {
    margin-right: 3px;
    margin-left: 3px;
}

.contact {
}

.header a {
    width: 141px;
    height: 148px;
    margin-top: -17px;
    display: block;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: #343434;
}

a:hover {
    background-color: grey;
}

.content {
    height: 753px;
}

.welcome {
    height: 128px;
    margin-top: -15px;
    margin-left: -8px;
    background-image: linear-gradient(180deg, #333333, #494949);
    padding-top: 2px;
    clear: left;
}

.heading {
    font-size: 21px;
    color: #ffffff;
    margin-left: 473px;
}

.descriptive {
    width: 555px;
    height: 71px;
    position: absolute;
    margin-top: -83px;
    margin-left: 466px;
    border-left: 8px solid #646464;
    padding-left: 18px;
    color: white;
    line-height: 150%;
}

.pictureone,
.picturetwo {
    width: 152px;
    height: 150px;
    position: absolute;
}

.pictureone {
    background-image: url("../images/shadow.png");
    margin-left: 1130px;
    margin-top: -130px;
}

.picturetwo {
    background-image: url("../images/100_2.gif");
    margin-left: 1131px;
    margin-top: -128px;
}